[package]
name = "more-di"
version = "3.0.0"
edition = "2018"
authors = ["Chris Martinez <chris.s.martinez@hotmail.com>"]
description = "Provides support for dependency injection (DI)"
keywords = ["more", "di", "dependency", "injection", "ioc"]
license = "MIT"
readme = "README.md"
homepage = "https://commonsensesoftware.github.io/more-rs-di/"
repository = "https://github.com/commonsensesoftware/more-rs-di"
include = ["*.rs", "!build.rs", "README.md"]

[lib]
name = "di"
path = "lib.rs"
doctest = false

[features]
default = ["builder", "inject"]
builder = []
async = []
inject = ["more-di-macros"]
lazy = []
fmt = ["colored"]
alias = ["more-di-macros/alias"]

[dependencies.more-di-macros]
path = "../di_macros"
version = "3.0"
optional = true

[dependencies.spin]
version = "0.9.8"
default-features = false
features = ["once"]

[dev-dependencies.more-di]
path = "."
default-features = false
features = ["builder", "lazy", "fmt"]

[dependencies.colored]
version = "2.0"
optional = true